{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Courses :</h2>
    {% if course %}
    {%for course in course %}
      <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ course.owner.cprofile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profilecreator' course.owner.username %}">{{ course.owner }}</a>
              <small class="text-muted">{{ course.created|date:"F d, Y" }}</small>     |  Rating - {{ course.rating }}
            </div>
            <h3><a class="article-title" href='{% url 'subjectlist' course.subject.pk %}'>{{ course.subject }}</a></h3>
            <h2><a class="article-title" href={% url 'course-detail' course.pk %}>{{ course.title }}</a></h2>
            <p class="article-content">{{ course.overview }}</p>
          </div>
        </article>
    {% endfor %}
    {% else %}
        No courses found
    {% endif %}
    <h2>Courses related to subject :</h2>
    {% if tags %}
    {%for course in tags%}
      <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ course.owner.cprofile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profilecreator' course.owner.username %}">{{ course.owner }}</a>

              <small class="text-muted">{{ course.created|date:"F d, Y" }}</small>     |  Rating - {{ course.rating }}
            </div>
            <h3><a class="article-title" href='{% url 'subjectlist' course.subject.pk %}'>{{ course.subject }}</a></h3>
            <h2><a class="article-title" href={% url 'course-detail' course.pk %}>{{ course.title }}</a></h2>
            <p class="article-content">{{ course.overview }}</p>
          </div>
        </article>
    {% endfor %}
    {% else %}
        No course related to subject found
    {% endif %}
    <h2>Creator :</h2>
    {% if creator %}
    {%for profile in creator%}
      <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profilecreator' profile.user.username %}">{{profile.user.username}}</a>
            </div>
          </div>
        </article>
    {% endfor %}
    {% else %}
        No creator found
    {% endif %}


{% endblock content %}